@model IEnumerable<GFadda_Local_Theatre_Company.Models.Post>

@{
    ViewBag.Title = "ListPosts";
}

<h2>ListPosts</h2>

@if (TempData["AllertMessage"] != null)
{
    <br />
    <div class="alert alert-success">
        <strong>@TempData["AllertMessage"]</strong>
    </div>
    <br />
}

<div class="container-fluid">

    @foreach (var item in Model)
    {
        <h2 class="text-left">
            @Html.ActionLink(item.Title, "PostDetails", new { id = item.PostId })
        </h2>
        <br />

        <div class="row" style="padding-top:1em">
            <div class="col-sm-20 text-justify">
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <br />
                <p class="text-right">
                    <div class="text-right">

                    </div>
                    <div class="text-right">
                        <p>
                            Witten by:
                            @Html.DisplayFor(modelItem => item.Staff.FirstName)
                            @Html.DisplayFor(modelItem => item.Staff.LastName),

                            @Html.DisplayFor(modelItem => item.DatePosted)
                        </p>

                    </div>
                </p>
                <br />
            </div>
        </div>
        <div class="row" style="padding-top:1em">
            <div class="col-sm-8 text-justify">
                @Html.ActionLink("Edit", "EditPost", new { id = item.PostId }) |
                @Html.ActionLink("Delete Post", "DeletePost", new { id = item.PostId })
            </div>
        </div>


    }
</div>
